* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  margin: 0 8px;
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}

input[type='file'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.list {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.list img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* mypage */
.upload {
  position: relative;
}

.mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#remove {
  position: absolute;
  right: 10px;
  bottom: 35%;
}

#image img {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}
